p {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    line-height: 1.4;
    color: #333;
}

#section {
    display: block;
    border-radius: 1px;
    border-style: solid;
    border-color: rgb(201, 231, 255);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

#info {
    display: block;

}

textarea {
    background: #6dacff;
    resize: none;
}

textarea.connected {
    background: #b8ffbe;
    resize: none;
}

textarea.disconnected {
    background: #ffbaba;
    resize: none;
}

textarea#directoryField {
    background: #e3ecf8;
    width:400px;
    resize: true;
}

select#deviceProfileNames {
    background: #e3ecf8;
    width:500px;
    resize: true;
}